@import url("../css/main.css");
@import url("../css/media.css");

   /************************************************************************/
  /*   PLEASE USE COMMENTS FOR EACH COMPONENT OR SECTION YOU'RE CREATE    */
 /*               JUST FOR ORGNIZE THE CODE AND FOCUS                    */
/************************************************************************/


/* Header Style */
@media (max-width:750px){
   * {
       margin : 0rem ;
       padding : 0rem;
       box-sizing: border-box;
       font-family: sans-serif;
   }
   /*================ header styling start=======================*/
   body {
       padding : 2em ;
   }
   html{font-size: 10px;}
   .menu button {
       width :2rem;
       border:none;
       position: relative;
       top:1rem ;
       background: #fff;
   }
   .logo img {
       width: 7em;
       position: relative;
       top:1rem
   }
   .menu button img {
    width : 2rem;
    
}
   .heder-rop-right {
       display: flex;
   }
   .heder-rop-right .search{
       margin-right : 1rem;
   }
   .heder-rop-right .search img {
       width: 2rem;
       margin-right: 0.50rem;
   }
   .heder-rop-right div img {
       width: 2rem;
       position: relative;
       top:1rem
   }
   header .headerContent .continer {
       display: flex;
       justify-content :space-between;
   
   }

   header .continer .menu img {
   margin-right : 30px;
   }



/* Footer Style */
   /*===================== header styling end ====================*/
   .test {
    height: 50rem;
}
/*===================== footer styling start ====================*/
.container h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}
.container p {
    font-size:1.5rem ;
    font-weight: 600;
    margin-bottom: 5rem;
}
.container .footer-top h3 {
/*footer top start*/
width: 30rem;
font-family: sans-serif;
font-size : 1.5rem ;
font-weight: 800;
margin: auto;
}
.container .footer-top input,button {
display: block;
height: 3rem;
border-radius: 0.5rem;
}
.container .footer-top input {
margin-top : 2rem ;
padding : 1rem;
border:none;
width: 100%;
background: #D9D9D9

}
.container .footer-top button {
width : 5rem;
margin-top : 2rem ;
background: #437075;
color: white;
}


/*footer top end*/
/*footer center start*/
/*left*/
.footer-center {
margin-top : 4rem ;
display: grid;
grid-template-columns: 1fr 1fr;
margin-bottom: 5rem;
}
.footer-center .footer-left h4 {
font-size : 1.3rem ;
font-family :sans-serif;
margin-bottom : 0.60rem ;
}
.footer-center .footer-left p {
font-size: 0.88rem;
margin: 0.3rem;
font-weight: 600;
}
.footer-center .footer-left .tele {
margin-bottom: 4rem;
}
}
.footer-center .footer-left h5 {
font-size: 1.3rem;
margin-bottom : 1rem 
}
.footer-center .footer-left .media  img {
width: 2rem;
height: 2rem;

}
.footer-center .footer-left .media .inta{
margin: 0rem 0.3rem ;
}
/*right*/
.footer-right h4 {
font-size : 1.3rem ;
font-family :sans-serif;
margin-bottom : 0.60rem ;
}
.footer-right p{
font-size: 0.88rem;
margin-top: 0.3rem;
font-weight: 600;
}
/*footer center end*/
/*footer finalle start */
.footer-final div {
display: flex ;
justify-content:space-between
}
.footer-final div p {
font-weight: 700;
}
.footer-final div img {
width: 15rem;
}
/*footer final end */


/*===================== footer styling end ====================*/

/* Home Page */
/*category page start*/
/*dogs*/
.dogs .continer .content .image-pransipal img {
    width: 100%;
    margin-top: 3rem;
}

<<<<<<< HEAD
/* SECTION NOUVEUX PRODUITS*/
.products{
   width: 48rem;
   height: 49rem;
}
h1{
   
   padding: 5px;
   text-align: center;
   font-size:2.2rem ;
   margin-bottom:3 rem ;
}
.All-products{
   overflow: scroll;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 1rem;
   /* position: relative; */
  
}
.product{
   background: var( --white);
   padding: 2rem;
   width: max-content;
   display: flex;
   flex-direction: column;
   border-radius:1rem;
   border:1px solid rgba(67, 112, 117, 1);
   margin: 2rem;
   flex: 1 1 calc(100% - 20px);
   transform: all 0.3s;

}
 

.product:hover{
   box-shadow: 0 2px 10px rgba(0, 0, 0, 1);

}
.product i {
   display: flex;
   justify-content: end;
   font-size: 2rem;
   color: red;
}
.product-img{
   width: 200px;
   height: 19.6rem;
   top: 2rem;
   padding-bottom: 5px;


}

.product-info{
   height: 64px;
   top: 329px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.product-title{
   margin-bottom: 10px;
   padding: 1rem 1re ;
   font-size: 1.2rem;
   line-height: 2.25rem;
}
.prix-butt {
   display: flex;
   justify-content: space-between;
   align-items: center;

}
.product-button{
   font-size: 11px;
   border-radius: none;
}
.product-button:hover{
   box-shadow: 0 2px 10px rgba(0, 0, 0, 1);
}
   

.product-price{
   position: relative;
 left: 5px;
color: rgba(67, 112, 117, 1);
   font-size: 1.5rem;
   height: 100%;
   display: flex;
   align-items: center;
   width: 600;
   
}
.product-button  { 
   height: 35px;
   width: 100px;
   display: inline-block;
   background-color: rgba(67, 112, 117, 1);;
   color: white;
   padding: 10px 20px;
   border-radius: 5px;
   text-decoration: none;
   font-weight: bold;
   transition: background-color 0.3s;

}

=======
.dogs .continer .content .image-pransipal h2 {
    position: relative;
    bottom: 12rem;
    left: 18rem;
    color: white;
    font-size: 5rem;
}
.dogs .continer .content .nav-bar {
    display: flex;
    justify-content :space-between
}
.dogs .continer .content .nav-bar .menu {
    display: flex;
}
.dogs .continer .content .nav-bar .menu p {
    font-size: 1.8rem;
    font-weight: 600;
    position: relative;
    top: 1.2rem;
    left: 0.8rem;
}
.dogs .continer .content .nav-bar .paragraph-left p {
    font-size: 1.3rem;
    font-weight: 600;
    position: relative;
    top: 1.2rem;
    left: 0.8rem;
}
.dogs .continer .content .cart-dogs .dogs-cart-a {
    width: 20rem;
    height: 25rem;
    background: green;
    margin-bottom: 2rem;
}
.dogs .continer .content .cart-dogs .dogs-cart-b {
    width: 20rem;
    height: 25rem;
    background: green;
    margin-bottom: 2rem;
}
.dogs .continer .content .cart-dogs .dogs-cart-c {
    width: 20rem;
    height: 25rem;
    background: green;
    margin-bottom: 2rem;
}
.dogs .continer .content .cart-dogs .dogs-cart-d {
    width: 20rem;
    height: 25rem;
    background: green;
    margin-bottom: 2rem;
}
.dogs .continer .content .cart-dogs .dogs-cart-e {
    width: 20rem;
    height: 25rem;
    background: green;
    margin-bottom: 2rem;
}
.dogs .continer .content .cart-dogs .dogs-cart-f {
    width: 20rem;
    height: 25rem;
    background: green;
    margin-bottom: 2rem;
}
>>>>>>> fa9fc1b5b9ffd891c8c2fb77d6d8965c6a7c45f1

.dogs .continer .content .cart-dogs {
    margin-top:30px ;
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto ;
    grid-template-rows: repeat(auto,3);
}
.sercle-scrole {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 7rem;
    margin-bottom: 7rem;
}
.sercle-scrole button {
    width: 3rem;
    height: 3rem;
    margin-left: 0.5rem; ;
    border-radius: 3rem;
    font-weight: 800;
}
.sercle-scrole .one {
    background: #437075;
    color: white;
}
/*home page end*/